:root {
    --color-white-warm: #EDE2D1;

    --color-brown: #A25E1B;
    --color-brown-pale: #D08F4E;
    --color-brown-paler: #D1A071;
    --color-creme: #eec8a5;
    --color-brown-dark: #693909;
    --color-brown-darker: #371805;

    /* Exersices */
    --color-ex-violet-main: #8106A9;
    --color-ex-violet-dark: #68237F;
    --color-ex-violet-darker: #54026E;
    --color-ex-violet-pale: #AF3BD4;
    --color-ex-violet-paler: #B964D4;
    --color-ex-violet-max-pale: #D9A6EA; 
}

div.page {
    background-color: white;
}

/* Навигация */
.profile-nav-tabs {
    background-color: var(--color-ex-violet-pale);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
}

.profile-nav-item {
    margin-right: 5px;
    background-color: var(--color-ex-violet-main) !important;
    border-radius: 5px;
}

.profile-nav-link {
}

.profile-nav-link:hover {
    color: var(--color-ex-violet-darker);
    background-color: var(--color-ex-violet-max-pale);
    border-color: white;
    border-width: 1px;
    border-bottom: none;
    /* border-radius: 5px; */
}

.profile-nav-link.active {
    color: var(--color-ex-violet-darker) !important;
    background-color: white !important;
    border-color: white !important;
    border-width: 3px;
    border-bottom: none;
    /* border-radius: 5px; */
}



h4.notification-title {
    color: white;
}


/* Уведомления */
div.notifications {
    background-color: var(--color-brown-dark);
}

div.notification {
    background-color: var(--color-brown-pale);
    color: var(--color-brown-darker)
}

a.ex_name {
    color: var(--color-brown-darker);
    text-decoration: none;
    font-weight: bold;
}

a.ex_name:hover {
    color: var(--color-white-warm);
}