:root {
    --color-white-warm: #EDE2D1;

    --color-brown: #A25E1B;
    --color-brown-pale: #D08F4E;
    --color-brown-paler: #D1A071;
    --color-creme: #eec8a5;
    --color-brown-dark: #693909;
    --color-brown-darker: #371805;
}

html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    background-color: var(--color-white-warm);
}

.container-table {
    display: table;
    width: 100%;
    height:100%;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.auth-card, .sign-up-card {
    background-color: var(--color-brown-dark);
}

.btn {
    color: white;
    background-color: var(--color-brown);
    border: var(--color-brown-dark) solid 1px;
}

.btn:hover {
    background-color: var(--color-brown-pale);
}

label, span.helptext {
    color: white;
}

ul.errorlist {
    font-weight: bold;
    padding: 15px 10px 15px 10px;
    list-style-type: none;
    color: black;
    background-color: var(--color-brown-paler);
    border: red solid 3px;
}