{% extends 'main/base.html' %}
{% load static %}

{% block title %}Главная{% endblock  %}

{% block content %}
  <!-- Preview  -->
  <div class='container'>
      <div class="text-body-emphasis mu-5 bg-body-secondary">
          <div class="row justify-content-center">
              <div class='col-4'>
                  <img src={% static 'main/images/main_photo.png' %} width='300' class="img-fluid" alt='Photo'>
              </div>
              <div class="col-4 align-self-center">
                  <h1 class="display-4 fst-italic">{% lorem 5 w random %}</h1>
                  <p class="lead my-3">{% lorem 25 w random %}</p>
                  <p class="lead mb-5"><a href="portfolio" class="text-body-emphasis fw-bold">Подробнее</a></p>
              </div>
          </div> 
      </div>
  </div>
  
  <!-- Caruosel -->
  {% include 'main/carousel.html' %}

  <!-- Languages -->
  <div class="album py-2">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="{% static 'main/images/eng.png' %}" class="d-block w-100" alt="Third Slide Image">
              <div class="card-body">
                <p class="card-text">{% lorem 25 w random %}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href='english'>
                      <button type="button" class="btn btn-sm btn btn-primary">Подробнее</button>
                    </a>
                  </div>
                  <small class="text-body-secondary">91 ученик</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="{% static 'main/images/france.png' %}" class="d-block w-100" alt="Third Slide Image">
              <div class="card-body">
                <p class="card-text">{% lorem 25 w random %}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn btn-primary">Подробнее</button>
                  </div>
                  <small class="text-body-secondary">54 ученика</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="{% static 'main/images/spanish.png' %}" class="d-block w-100" alt="Third Slide Image">
              <div class="card-body">
                <p class="card-text">{% lorem 25 w random %}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                      <button type="button" class="btn btn-sm btn btn-primary">Подробнее</button>
                  </div>
                  <small class="text-body-secondary">46 учеников</small>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog -->
  {% comment %} <div class="container py-4 text-start">
    <h2 class="featurette-heading pb-3 fw-normal lh-1 text-center">Блог</h2>
    <div class="row mb-2">
      <div class="col-md-6 align-self-righ">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="http://placehold.it/400x500/2c3e50/3498db&text=Photo" class="bd-placeholder-img" width="200" height="250" alt="Third Slide Image">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
            <h3 class="mb-0">Post title</h3>
            <div class="mb-1 text-body-secondary">Nov 11</div>
            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img src="http://placehold.it/400x500/2c3e50/3498db&text=Photo" class="bd-placeholder-img" width="200" height="250" alt="Third Slide Image">
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
      
  <!-- Reviews -->
  <div class="container py-4 text-center">
    <h2 class="featurette-heading pb-3 fw-normal lh-1">Ваши отзывы</h2>
    <div class="row justify-content-center">
      <div class="col-lg-4 align-self-center">
        <img src="http://placehold.it/300x300/2c3e50/3498db&text=Photo" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Third Slide Image">
        <p>
          <h2 class="fw-normal">User #1</h2>
          <small class="text-body-secondary">С нами 3 месяца</small>
        </p>
        <hr class='text-success'>
        <p>{% lorem 20 w random %}</p>
      </div>
      <div class="col-lg-4 align-self-center">
        <img src="http://placehold.it/300x300/2c3e50/3498db&text=Photo" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Third Slide Image">
        <p>
          <h2 class="fw-normal">User #2</h2>
          <small class="text-body-secondary">С нами 3 месяца</small>
        </p>
        <hr class='text-success'>
        <p>{% lorem 20 w random %}</p>
      </div>
      <div class="col-lg-4 align-self-center">
        <img src="http://placehold.it/300x300/2c3e50/3498db&text=Photo" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Third Slide Image">
        <p>
          <h2 class="fw-normal">User #3</h2>
          <small class="text-body-secondary">С нами 3 месяца</small>
        </p>
        <hr class='text-success'>
        <p>{% lorem 20 w random %}</p>
      </div>
    </div>
  </div>

  <!-- State -->
  <div class="container py-4 text-center bg-body-secondary">
    <h2 class="featurette-heading pb-3 fw-normal lh-1">Штат</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
      <div class="col-lg-4 align-self-center">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="http://placehold.it/300x450/2c3e50/3498db&text=Photo" class="d-block w-100" alt="Third Slide Image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Elizapeth</h5>
                <p class="card-text"><small class="text-body-secondary">Teacher</small></p>
                <p class="card-text text-start">{% lorem 15 w random %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="http://placehold.it/300x450/2c3e50/3498db&text=Photo" class="d-block w-100" alt="Third Slide Image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Ivan</h5>
                <p class="card-text"><small class="text-body-secondary">Developer</small></p>
                <p class="card-text text-start">{% lorem 15 w random %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}