{% extends "exercises_words/base.html" %}
{% load static %}

{% block 'title' %} Exercise | Step {{step}}{% endblock  %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/exercise.css' %}">
{% endblock  %}

{% block 'content' %}
    <!-- Header -->
    <div class="row py-3 justify-content-center">
        <div class="col-12 title ramka-6 w-50">
            <h2 class='title'>Запоминаем</h2>
            {% csrf_token %}
        </div>
    </div>

    <!-- Words -->
    {% for word in words %}
        <div id='word_{{word.id}}' class="row justify-content-center word {% if word.id != 1 %}hidden{% endif %}">
            <div class="col-6">
                <div class="word-main-mask">
                    <p class="text w-50 mx-auto text-center word-main">{{ word.word }}  {{ word.translate }}</p>
                </div>
                <div class='word-card'>
                    <div class="row">
                        <div class="col my-auto text-start"><ul>
                            {% for sentence in word.sentences %}
                                <li>
                                    <p class="text">{{ sentence }}</p>
                                </li>
                            {% endfor %}
                        </ul></div>
                        <div class="col text-end">
                            <img src="http://placehold.it/200x250/2c3e50/3498db&text=Photo" class="bd-placeholder-img" alt="Word Image">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Pagination -->
    <div class='row'>
        <div class='col'>
            <nav aria-label="words">
                <ul class="pagination justify-content-center">
                    <li id='prev_btn' class="page-item disabled">
                        <button type='button' class="page-link" href="#">Предыдущее</button>
                    </li>
                    {% for num in len %}
                        <li id='page_{{num}}' class="page-item">
                            <button type='button' class="page-link" href="#">{{num}}</button>
                        </li>
                    {% endfor %}
                    <li id='next_btn' class="page-item">
                        <button type='button' class="page-link" href="#">Следующее</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock  %}

{% block 'js' %}
    <script src="{% static 'js/step_1.js' %}"></script>
{% endblock  %}