{% extends "exercises_words/base.html" %}
{% load static %}

{% block 'title' %} Exercise | Step {{step}}{% endblock  %}
{% block 'style' %}
    <link rel="stylesheet" href="{% static 'css/exercise.css' %}">
{% endblock  %}

{% block 'content' %}
    <!-- Header -->
    <div class="row py-3">
        <div class="col-12">
            <h2 class='text-center'>Запоминаем</h2>
            {% csrf_token %}
            <div class='row justify-content-center'>
                <div class='col text-center'>
                    <button id='btn-send' type='submit' class='btn btn-warning hidden'>Закончить этап и отправить данные</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Words -->
    {% for word in words %}
        <div id='word_{{word.id}}' class="row justify-content-center word {% if word.id != 1 %}hidden{% endif %}">
            <div class="col-6 ">
                <p class="text text-center">{{ word.word }}</p>
                <p class="text text-center">{{ word.translate }}</p>
                <ul>
                    {% for sentence in word.sentences %}
                        <li>
                            <p class="text">{{ sentence }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}

    <!-- Pagination -->
    <div class='row'>
        <div class='col'>
            <nav aria-label="words">
                <ul class="pagination justify-content-center">
                    <li id='prev_btn' class="page-item disabled">
                        <button type='button' class="page-link" href="#">Предыдущее</button>
                    </li>
                    {% for num in len %}
                        <li id='page_{{num}}' class="page-item">
                            <button type='button' class="page-link" href="#">{{num}}</button>
                        </li>
                    {% endfor %}
                    <li id='next_btn' class="page-item">
                        <button type='button' class="page-link" href="#">Следующее</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock  %}

{% block 'js' %}
    <script src="{% static 'js/step_1.js' %}"></script>
{% endblock  %}