nav {
    background-color: var(--color-ex-violet-dark);
    border-bottom: 1px solid var(--color-ex-violet-darker);
}

.nav-link {
    color: white;
    white-space: nowrap; 
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color-ex-violet-paler);
}

.nav-link:hover {
    color: var(--color-ex-violet-max-pale);
}

.dropdown-menu {
    border-color: var(--color-ex-violet-dark);
    background-color: var(--color-ex-violet-pale);}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: var(--color-ex-violet-max-pale);
}